public/n8n/dangerous-goods-checker.json
{
  "name": "Dangerous Goods Shipment Checker — FreightUtils",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "un_number",
              "name": "un_number",
              "value": "1203",
              "type": "string"
            },
            {
              "id": "quantity",
              "name": "quantity",
              "value": "200",
              "type": "number"
            }
          ]
        }
      },
      "id": "set-input",
      "name": "Set Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://www.freightutils.com/api/adr?un={{ $json.un_number }}",
        "options": {}
      },
      "id": "adr-lookup",
      "name": "ADR Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.freightutils.com/api/adr-calculator",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ items: [{ un_number: $('Set Input').item.json.un_number, quantity: Number($('Set Input').item.json.quantity) }] }) }}",
        "options": {}
      },
      "id": "exemption-calc",
      "name": "1.1.3.6 Exemption Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "jsCode": "const adr = $('ADR Lookup').item.json;\nconst calc = $input.item.json;\nconst substance = adr.results?.[0] ?? {};\n\nconst lines = [\n  `=== DANGEROUS GOODS CHECK ===\"`,\n  ``,\n  `Substance: UN ${substance.un_number} — ${substance.proper_shipping_name}`,\n  `Class: ${substance.class} | Packing Group: ${substance.packing_group}`,\n  `Labels: ${substance.labels} | Tunnel Code: ${substance.tunnel_restriction_code}`,\n  `Transport Category: ${substance.transport_category}`,\n  `Limited Quantity: ${substance.limited_quantity}`,\n  ``,\n  `--- Exemption Calculation (ADR 1.1.3.6) ---`,\n  `Quantity: ${calc.items?.[0]?.quantity ?? 'N/A'} kg/L`,\n  `Points: ${calc.total_points} / ${calc.threshold}`,\n  ``,\n  calc.exempt\n    ? `✅ EXEMPT — Load qualifies for 1.1.3.6 limited quantity exemption.`\n    : `❌ NOT EXEMPT — Full ADR compliance required.`,\n  ``,\n  `Message: ${calc.message}`,\n];\n\nif (calc.warnings?.length) {\n  lines.push(``, `Warnings:`);\n  calc.warnings.forEach(w => lines.push(`  ⚠ ${w}`));\n}\n\nreturn [{\n  json: {\n    summary: lines.join('\\n'),\n    exempt: calc.exempt,\n    un_number: substance.un_number,\n    substance_name: substance.proper_shipping_name,\n    hazard_class: substance.class,\n    total_points: calc.total_points,\n    threshold: calc.threshold\n  }\n}];"
      },
      "id": "format-result",
      "name": "Format Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "id": "exempt-check",
              "leftValue": "={{ $json.exempt }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-exempt",
      "name": "Exempt?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {},
      "id": "exempt-output",
      "name": "✅ Exempt — Send Confirmation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1540, 200],
      "notes": "Connect to Slack, Email, or webhook to send the exempt notification. The summary text is in $json.summary"
    },
    {
      "parameters": {},
      "id": "not-exempt-output",
      "name": "❌ Not Exempt — Flag for Review",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1540, 400],
      "notes": "Connect to Slack, Email, or webhook to alert that full ADR compliance is required. The summary text is in $json.summary"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Set Input", "type": "main", "index": 0 }]]
    },
    "Set Input": {
      "main": [[{ "node": "ADR Lookup", "type": "main", "index": 0 }]]
    },
    "ADR Lookup": {
      "main": [[{ "node": "1.1.3.6 Exemption Check", "type": "main", "index": 0 }]]
    },
    "1.1.3.6 Exemption Check": {
      "main": [[{ "node": "Format Decision", "type": "main", "index": 0 }]]
    },
    "Format Decision": {
      "main": [[{ "node": "Exempt?", "type": "main", "index": 0 }]]
    },
    "Exempt?": {
      "main": [
        [{ "node": "✅ Exempt — Send Confirmation", "type": "main", "index": 0 }],
        [{ "node": "❌ Not Exempt — Flag for Review", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "freightutils-template"
  },
  "tags": [
    { "name": "FreightUtils" },
    { "name": "ADR" },
    { "name": "Dangerous Goods" },
    { "name": "Logistics" }
  ]
}
